<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>url</key>
	<string>https://www.lostfilm.uno/news/page_%@/type_%@</string>
	<key>data</key>
	<array>
		<dict>
			<key>xPathRoot</key>
			<string>//div[@class=&apos;body&apos;]/a</string>
			<key>className</key>
			<string>LFNewsModel</string>
			<key>fields</key>
			<array>
				<dict>
					<key>name</key>
					<string>id</string>
					<key>result</key>
					<array>
						<dict>
							<key>xPath</key>
							<string>//./a</string>
							<key>attribute</key>
							<string>href</string>
							<key>regex</key>
							<string>(?!.*\/).+</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>type</string>
					<key>result</key>
					<array>
						<dict>
							<key>xPath</key>
							<string>//div[@class=&apos;image&apos;]/div[@class=&apos;overlay&apos;]</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>photoUrlStr</string>
					<key>result</key>
					<array>
						<dict>
							<key>xPath</key>
							<string>//a/div[@class=&apos;image&apos;]/img[@class=&apos;thumb&apos;]</string>
							<key>attribute</key>
							<string>src</string>
							<key>formats</key>
							<array>
								<dict>
									<key>conditions</key>
									<array>
										<dict>
											<key>regex</key>
											<string>^http</string>
											<key>negative</key>
											<true/>
										</dict>
									</array>
									<key>format</key>
									<string>http:%@</string>
								</dict>
							</array>
						</dict>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>title</string>
					<key>result</key>
					<array>
						<dict>
							<key>xPath</key>
							<string>//div[@class=&apos;body&apos;]/div[@class=&apos;news-title&apos;]</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>briefText</string>
					<key>result</key>
					<array>
						<dict>
							<key>xPath</key>
							<string>//div[@class=&apos;body&apos;]/div[@class=&apos;news-text&apos;]</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>date</string>
					<key>result</key>
					<array>
						<dict>
							<key>xPath</key>
							<string>//div[@class=&apos;body&apos;]/div[@class=&apos;news-date&apos;]</string>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
