<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>url</key>
	<string>https://www.lostfilm.tv/new/page_%@</string>
	<key>data</key>
	<array>
		<dict>
			<key>xPathRoot</key>
			<string>//div[@class=&apos;body&apos;]/div[@class=&apos;row&apos;]</string>
			<key>className</key>
			<string>LFEpisodeModel</string>
			<key>fields</key>
			<array>
				<dict>
					<key>name</key>
					<string>id</string>
					<key>result</key>
					<array>
						<dict>
							<key>xPath</key>
							<string>//a[1]</string>
							<key>attribute</key>
							<string>href</string>
							<key>regex</key>
							<string>(?!.*\/).+</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>series</string>
					<key>result</key>
					<array>
						<dict>
							<key>data</key>
							<dict>
								<key>xPathRoot</key>
								<string>//a[1]</string>
								<key>className</key>
								<string>LFSeriesModel</string>
								<key>fields</key>
								<array>
									<dict>
										<key>name</key>
										<string>img</string>
										<key>result</key>
										<array>
											<dict>
												<key>xPath</key>
												<string>//div[@class=&apos;picture-box&apos;]/img[@class=&apos;thumb&apos;]</string>
												<key>attribute</key>
												<string>src</string>
											</dict>
										</array>
									</dict>
									<dict>
										<key>name</key>
										<string>title</string>
										<key>result</key>
										<array>
											<dict>
												<key>xPath</key>
												<string>//div[@class=&apos;body&apos;]/div[@class=&apos;name-ru&apos;]</string>
											</dict>
										</array>
									</dict>
									<dict>
										<key>name</key>
										<string>title_orig</string>
										<key>result</key>
										<array>
											<dict>
												<key>xPath</key>
												<string>//div[@class=&apos;body&apos;]/div[@class=&apos;name-en&apos;]</string>
											</dict>
										</array>
									</dict>
								</array>
							</dict>
						</dict>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>seasonNumber</string>
					<key>result</key>
					<array>
						<dict>
							<key>xPath</key>
							<string>//a[1]/div[@class=&apos;picture-box&apos;]/div[@class=&apos;overlay&apos;]/div[@class=&apos;left-part&apos;]</string>
							<key>regex</key>
							<string>(\d+) сезон \d+ серия</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>number</string>
					<key>result</key>
					<array>
						<dict>
							<key>xPath</key>
							<string>//a[1]/div[@class=&apos;picture-box&apos;]/div[@class=&apos;overlay&apos;]/div[@class=&apos;left-part&apos;]</string>
							<key>regex</key>
							<string>\d+ сезон (\d+) серия</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>titleRu</string>
					<key>result</key>
					<array>
						<dict>
							<key>xPath</key>
							<string>//a[1]/div[@class=&apos;body&apos;]/div[@class=&apos;details-pane&apos;]/div[@class=&apos;alpha&apos;][1]</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>titleEn</string>
					<key>result</key>
					<array>
						<dict>
							<key>xPath</key>
							<string>//a[1]/div[@class=&apos;body&apos;]/div[@class=&apos;details-pane&apos;]/div[@class=&apos;beta&apos;][1]</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>dateRu</string>
					<key>result</key>
					<array>
						<dict>
							<key>xPath</key>
							<string>//a[1]/div[@class=&apos;body&apos;]/div[@class=&apos;details-pane&apos;]/div[@class=&apos;alpha&apos;][2]</string>
							<key>regex</key>
							<string>\d{2}.\d{2}.\d{4}</string>
							<key>formats</key>
							<array>
								<dict>
									<key>type</key>
									<string>date</string>
									<key>format</key>
									<string>dd.MM.yyyy</string>
								</dict>
							</array>
						</dict>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>dateEn</string>
					<key>result</key>
					<array>
						<dict>
							<key>xPath</key>
							<string>//a[1]/div[@class=&apos;body&apos;]/div[@class=&apos;details-pane&apos;]/div[@class=&apos;beta&apos;][2]</string>
							<key>regex</key>
							<string>\d{2}.\d{2}.\d{4}</string>
							<key>formats</key>
							<array>
								<dict>
									<key>type</key>
									<string>date</string>
									<key>format</key>
									<string>dd.MM.yyyy</string>
								</dict>
							</array>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
