<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>url</key>
	<string>https://www.lostfilm.uno/series/%@/cast</string>
	<key>data</key>
	<array>
		<dict>
			<key>xPathRoot</key>
			<string>//div[@class=&apos;text-block persons&apos;]/div[@class=&apos;body&apos;]/a[@class=&apos;row&apos;]</string>
			<key>className</key>
			<string>LFPersonModel</string>
			<key>fields</key>
			<array>
				<dict>
					<key>name</key>
					<string>id</string>
					<key>result</key>
					<array>
						<dict>
							<key>xPath</key>
							<string>//./a</string>
							<key>attribute</key>
							<string>href</string>
							<key>regex</key>
							<string>(?!.*\/).+</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>photoURL</string>
					<key>result</key>
					<array>
						<dict>
							<key>xPath</key>
							<string>//img</string>
							<key>attribute</key>
							<string>autoload</string>
							<key>formats</key>
							<array>
								<dict>
									<key>conditions</key>
									<array>
										<dict>
											<key>regex</key>
											<string>^http</string>
											<key>negative</key>
											<true/>
										</dict>
									</array>
									<key>format</key>
									<string>http:%@</string>
								</dict>
							</array>
						</dict>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>nameRu</string>
					<key>result</key>
					<array>
						<dict>
							<key>xPath</key>
							<string>//div[@class=&apos;body&apos;]/div[@class=&apos;name-ru&apos;]</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>nameEn</string>
					<key>result</key>
					<array>
						<dict>
							<key>xPath</key>
							<string>//div[@class=&apos;body&apos;]/div[@class=&apos;name-en&apos;]</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>roleRu</string>
					<key>result</key>
					<array>
						<dict>
							<key>xPath</key>
							<string>//div[@class=&apos;role-pane&apos;]/div[@class=&apos;role-ru&apos;]</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>roleEn</string>
					<key>result</key>
					<array>
						<dict>
							<key>xPath</key>
							<string>//div[@class=&apos;role-pane&apos;]/div[@class=&apos;role-en&apos;]</string>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
