<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>url</key>
	<string>https://www.lostfilm.uno/series/</string>
	<key>data</key>
	<array>
		<dict>
			<key>xPathRoot</key>
			<string>//div[@id=&apos;left-pane&apos;]</string>
			<key>className</key>
			<string>LFSeriesFilterModel</string>
			<key>fields</key>
			<array>
				<dict>
					<key>name</key>
					<string>types</string>
					<key>result</key>
					<array>
						<dict>
							<key>data</key>
							<dict>
								<key>xPathRoot</key>
								<string>//div[@class=&apos;header-block&apos;]/div[@class=&apos;sort-pane&apos;]/div[starts-with(@rel, &apos;type_&apos;)]</string>
								<key>className</key>
								<string>LFSeriesFilterBaseModel</string>
								<key>fields</key>
								<array>
									<dict>
										<key>name</key>
										<string>name</string>
										<key>result</key>
										<array>
											<dict>
												<key>xPath</key>
												<string>//./div</string>
											</dict>
										</array>
									</dict>
									<dict>
										<key>name</key>
										<string>key</string>
										<key>result</key>
										<array>
											<dict>
												<key>xPath</key>
												<string>//./div</string>
												<key>attribute</key>
												<string>onclick</string>
												<key>regex</key>
												<string>\(\&apos;([^\&apos;]+)\&apos;</string>
											</dict>
										</array>
									</dict>
									<dict>
										<key>name</key>
										<string>value</string>
										<key>result</key>
										<array>
											<dict>
												<key>xPath</key>
												<string>//./div</string>
												<key>attribute</key>
												<string>onclick</string>
												<key>regex</key>
												<string>\&apos;,\&apos;([^\&apos;]+)&apos;</string>
											</dict>
										</array>
									</dict>
								</array>
							</dict>
						</dict>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>genres</string>
					<key>result</key>
					<array>
						<dict>
							<key>data</key>
							<dict>
								<key>xPathRoot</key>
								<string>//div[@class=&apos;left-side-block&apos;]/div[@class=&apos;menu-body&apos;]/div[starts-with(@rel, &apos;genre_&apos;)]</string>
								<key>className</key>
								<string>LFSeriesFilterBaseModel</string>
								<key>fields</key>
								<array>
									<dict>
										<key>name</key>
										<string>name</string>
										<key>result</key>
										<array>
											<dict>
												<key>xPath</key>
												<string>//./div</string>
											</dict>
										</array>
									</dict>
									<dict>
										<key>name</key>
										<string>key</string>
										<key>result</key>
										<array>
											<dict>
												<key>xPath</key>
												<string>//./div</string>
												<key>attribute</key>
												<string>onclick</string>
												<key>regex</key>
												<string>\(\&apos;([^\&apos;]+)\&apos;</string>
											</dict>
										</array>
									</dict>
									<dict>
										<key>name</key>
										<string>value</string>
										<key>result</key>
										<array>
											<dict>
												<key>xPath</key>
												<string>//./div</string>
												<key>attribute</key>
												<string>onclick</string>
												<key>regex</key>
												<string>\&apos;,\&apos;([^\&apos;]+)&apos;</string>
											</dict>
										</array>
									</dict>
								</array>
							</dict>
						</dict>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>years</string>
					<key>result</key>
					<array>
						<dict>
							<key>data</key>
							<dict>
								<key>xPathRoot</key>
								<string>//div[@class=&apos;left-side-block&apos;]/div[@class=&apos;menu-body&apos;]/div[starts-with(@rel, &apos;year_&apos;)]</string>
								<key>className</key>
								<string>LFSeriesFilterBaseModel</string>
								<key>fields</key>
								<array>
									<dict>
										<key>name</key>
										<string>name</string>
										<key>result</key>
										<array>
											<dict>
												<key>xPath</key>
												<string>//./div</string>
											</dict>
										</array>
									</dict>
									<dict>
										<key>name</key>
										<string>key</string>
										<key>result</key>
										<array>
											<dict>
												<key>xPath</key>
												<string>//./div</string>
												<key>attribute</key>
												<string>onclick</string>
												<key>regex</key>
												<string>\(\&apos;([^\&apos;]+)\&apos;</string>
											</dict>
										</array>
									</dict>
									<dict>
										<key>name</key>
										<string>value</string>
										<key>result</key>
										<array>
											<dict>
												<key>xPath</key>
												<string>//./div</string>
												<key>attribute</key>
												<string>onclick</string>
												<key>regex</key>
												<string>\&apos;,\&apos;([^\&apos;]+)&apos;</string>
											</dict>
										</array>
									</dict>
								</array>
							</dict>
						</dict>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>channels</string>
					<key>result</key>
					<array>
						<dict>
							<key>data</key>
							<dict>
								<key>xPathRoot</key>
								<string>//div[@class=&apos;left-side-block&apos;]/div[@class=&apos;menu-body&apos;]/div[starts-with(@rel, &apos;channel_&apos;)]</string>
								<key>className</key>
								<string>LFSeriesFilterBaseModel</string>
								<key>fields</key>
								<array>
									<dict>
										<key>name</key>
										<string>name</string>
										<key>result</key>
										<array>
											<dict>
												<key>xPath</key>
												<string>//./div</string>
											</dict>
										</array>
									</dict>
									<dict>
										<key>name</key>
										<string>key</string>
										<key>result</key>
										<array>
											<dict>
												<key>xPath</key>
												<string>//./div</string>
												<key>attribute</key>
												<string>onclick</string>
												<key>regex</key>
												<string>\(\&apos;([^\&apos;]+)\&apos;</string>
											</dict>
										</array>
									</dict>
									<dict>
										<key>name</key>
										<string>value</string>
										<key>result</key>
										<array>
											<dict>
												<key>xPath</key>
												<string>//./div</string>
												<key>attribute</key>
												<string>onclick</string>
												<key>regex</key>
												<string>\&apos;,\&apos;([^\&apos;]+)&apos;</string>
											</dict>
										</array>
									</dict>
								</array>
							</dict>
						</dict>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>groups</string>
					<key>result</key>
					<array>
						<dict>
							<key>data</key>
							<dict>
								<key>xPathRoot</key>
								<string>//div[@class=&apos;left-side-block&apos;]/div[@class=&apos;menu-body&apos;]/div[starts-with(@rel, &apos;group_&apos;)]</string>
								<key>className</key>
								<string>LFSeriesFilterBaseModel</string>
								<key>fields</key>
								<array>
									<dict>
										<key>name</key>
										<string>name</string>
										<key>result</key>
										<array>
											<dict>
												<key>xPath</key>
												<string>//./div</string>
											</dict>
										</array>
									</dict>
									<dict>
										<key>name</key>
										<string>key</string>
										<key>result</key>
										<array>
											<dict>
												<key>xPath</key>
												<string>//./div</string>
												<key>attribute</key>
												<string>onclick</string>
												<key>regex</key>
												<string>\(\&apos;([^\&apos;]+)\&apos;</string>
											</dict>
										</array>
									</dict>
									<dict>
										<key>name</key>
										<string>value</string>
										<key>result</key>
										<array>
											<dict>
												<key>xPath</key>
												<string>//./div</string>
												<key>attribute</key>
												<string>onclick</string>
												<key>regex</key>
												<string>\&apos;,\&apos;([^\&apos;]+)&apos;</string>
											</dict>
										</array>
									</dict>
								</array>
							</dict>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
