<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>url</key>
	<string>https://www.lostfilm.uno/schedule/my_0/type_0</string>
	<key>data</key>
	<array>
		<dict>
			<key>xPathRoot</key>
			<string>//table[@class=&apos;schedule-list&apos;]/tbody/tr[td[@class=&apos;alpha&apos;]]</string>
			<key>className</key>
			<string>LFEpisodeModel</string>
			<key>fields</key>
			<array>
				<dict>
					<key>name</key>
					<string>id</string>
					<key>result</key>
					<array>
						<dict>
							<key>xPath</key>
							<string>//td[@class=&apos;alpha&apos;]</string>
							<key>attribute</key>
							<string>onclick</string>
							<key>regex</key>
							<string>(?!.*\/).+\&apos;</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>series</string>
					<key>result</key>
					<array>
						<dict>
							<key>data</key>
							<dict>
								<key>xPathRoot</key>
								<string>//td[@class=&apos;alpha&apos;]/div[@class=&apos;movie-block-pane&apos;]</string>
								<key>className</key>
								<string>LFSeriesModel</string>
								<key>fields</key>
								<array>
									<dict>
										<key>name</key>
										<string>img</string>
										<key>result</key>
										<array>
											<dict>
												<key>xPath</key>
												<string>//div[@class=&apos;cover&apos;]/img</string>
												<key>attribute</key>
												<string>src</string>
												<key>formats</key>
												<array>
													<dict>
														<key>type</key>
														<string>replace</string>
														<key>regex</key>
														<string>icon\.jpg</string>
														<key>format</key>
														<string>image.jpg</string>
													</dict>
												</array>
											</dict>
										</array>
									</dict>
									<dict>
										<key>name</key>
										<string>title</string>
										<key>result</key>
										<array>
											<dict>
												<key>xPath</key>
												<string>//div[@class=&apos;title-block&apos;]/div[@class=&apos;ru&apos;]</string>
											</dict>
										</array>
									</dict>
									<dict>
										<key>name</key>
										<string>title_orig</string>
										<key>result</key>
										<array>
											<dict>
												<key>xPath</key>
												<string>//div[@class=&apos;title-block&apos;]/div[@class=&apos;en small-text&apos;]</string>
											</dict>
										</array>
									</dict>
								</array>
							</dict>
						</dict>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>seasonNumber</string>
					<key>result</key>
					<array>
						<dict>
							<key>xPath</key>
							<string>//td[@class=&apos;beta&apos;]/div[@class=&apos;serie-number-box&apos;]/div[@class=&apos;count&apos;]</string>
							<key>regex</key>
							<string>(\d+) сезон \d+ серия</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>number</string>
					<key>result</key>
					<array>
						<dict>
							<key>xPath</key>
							<string>//td[@class=&apos;beta&apos;]/div[@class=&apos;serie-number-box&apos;]/div[@class=&apos;count&apos;]</string>
							<key>regex</key>
							<string>\d+ сезон (\d+) серия</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>titleRu</string>
					<key>result</key>
					<array>
						<dict>
							<key>xPath</key>
							<string>//td[@class=&apos;gamma&apos;][1]</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>titleEn</string>
					<key>result</key>
					<array>
						<dict>
							<key>xPath</key>
							<string>//td[@class=&apos;gamma&apos;]/span</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>dateRu</string>
					<key>result</key>
					<array>
						<dict>
							<key>xPath</key>
							<string>//td[@class=&apos;delta&apos;]</string>
							<key>regex</key>
							<string>\d{2}.\d{2}.\d{4}</string>
							<key>formats</key>
							<array>
								<dict>
									<key>type</key>
									<string>date</string>
									<key>format</key>
									<string>dd.MM.yyyy</string>
								</dict>
							</array>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
